*{margin: 0; padding: 0;}

form{
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.input{
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd; 
}

.button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #2cb3ec;
    color: white;
    font-weight: 700;
    cursor: pointer;
    &:hover{
        background-color: #1a5ab8;
    }
}